%h1 Signin
.col-md-8
  = simple_form_for(:session, url: sessions_path, html: { class: 'form-horizontal', role: 'form'}, wrapper: :horizontal_form) do |f|
    = f.input :email
    = f.input :password
    .form-group
      .col-sm-offset-3.col-sm-9
        = f.button :submit, class: 'btn-primary', value: 'Signin'
