%table.table.table-striped.table-hover
  %tr
    %th name
    %th enabled
    %th Created at

  - @permissions.each do |permission|
    %tr
      %td= permission.name
      %td= permission.enabled
      %td= permission.created_at

%div
  = paginate @permissions

