<div class="col-md-8">
  <%= simple_form_for(@user, html: { class: 'form-horizontal', role: 'form'}, wrapper: :horizontal_form) do |f| %>
    <%= f.input :name %>
    <%= f.input :password %>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.button :submit, class: 'btn-primary', value: 'Signup' %>
      </div>
    </div>
  <% end %>
</div>
